#header {
  box-sizing:border-box;
  height:80px;
  padding:1rem;
  display:flex;
  align-items:center;
  justify-content:space-between;
  background: linear-gradient(to bottom, rgb(69, 27, 73), rgb(204, 37, 154))    
}
#logo{
  font-size:1.5rem;
  font-weight:bold;
   background: -webkit-linear-gradient(white, #38495a);
   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#menu{
  display:flex;
  list-style:none;
  gap:.5rem;
}

li {
  cursor: pointer;
  font-size:1.5rem;
  font-weight:bold;
   background: -webkit-linear-gradient(white, #38495a);
   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#menu a{
  display:block;
  padding:.5rem;
}
h1 {
    color: #000000;
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
p {
  text-align: center;
}
form {
  text-align: center;
  background-color: #d8a7e4;
  margin-top: 200px;
  margin-bottom: 00px;
  margin-left: 600px;
  margin-right: 600px;
  border-radius:20px;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 5px 5px 20px 5px #000;
}

.butt:hover {
  background-color: rgb(33, 0, 218);
  background: linear-gradient(to bottom, #7B68EE, #EE82EE);
}
.butt:active {
  background-color: rgb(0, 0, 92);
  background: linear-gradient(to bottom, #6d40eb, #ec38ec);
}
body {
  background-size: cover;
  height: 900px;
  background-position: center;
  background-image: url("./image/6040004.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.butt {
  padding: 10px 25px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  /* background: linear-gradient(to bottom, #7B68EE, #EE82EE); */
}

.pass {
  position: relative;
  left: 47px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#password, #username {
  border-radius: 20px;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.check {
  margin-right: 100px;
}

#check {
  ;
}